body {
    font-family: sans-serif;
    color: rgb(0, 4, 255);
    background-image: radial-gradient(rgb(226, 236, 181), rgb(202, 34, 84), rgb(166, 166, 230));
    font-size: 45px;
}

#Rectangle {
    stroke: black;
    stroke-width: 25px; 
    width: 103px;
    height: 111px;
}

#Rectangle-1 {
    stroke: black;
    stroke-width: 25px;
    width: 233px; 
    height: 111px;
}

#Rectangle-2 {
    fill: black;
    width: 41px;
    height: 343px;
}

#Rectangle-3 {
    fill:black;
    width: 462px;
    height: 39px;
}

#Rectangle-4 {
    fill:black;
    width: 112px;
    height: 39px;
}

#Rectangle-5 {
    fill:black;
    width: 41px;
    height: 138px;
}






