body {
    background-color: rgb(255, 0, 212);
}

.square{
    display:flex;
    margin: 20px;
}


@keyframes scale {
    0%{transform: scale3d(0.5, 0.5, 2);}
    25%{transform: scale3d(0.5, 0.5, 2);}
    50%{transform: scale3d(1, 1, 1);}
    100%{transform: scale3d(0.5, 0.5, 1);}
}

@keyframes move {
    25%{transform: translate(25%, 25%);}
    50%{transform: translate(50%, 50%);}
    75%{transform: translate(75%, 75%);}
    100%{transform: translate(0%, 0%)}
}

#rectangle{
    width: 80px;
    height: 320px;
    background-color: rgb(253, 253, 253);
    
}

#rectangle:hover{
    animation: color-animate 5s;
    animation-iteration-count: infinite;
}

#rectangle-1{
    width: 80px;
    height: 30px;
    background-color: rgb(200, 255, 0);
    border-radius: 10%;
}

#rectangle-1:hover{
    animation: move 5s ease infinite alternate;
}

#rectangle-2{
    width: 80px;
    height: 320px;
    background-color: rgb(0, 0, 0);
}

#rectangle-2:hover{
    animation: fadeout 5s ease infinite alternate;
}

#rectangle-3{
    width: 150px;
    height: 30px;
    background-color: rgb(200, 255, 0);
    border-radius: 10%;
}

#rectangle-3:hover{
    animation: move 5s ease infinite alternate;
}

#rectangle-6{
    width: 80px;
    height: 180px;
    background-color: rgb(255, 255, 255);

}

#rectangle-6:hover{
    animation: scale 4s ease infinite alternate;
}

#rectangle-7{
    width: 80px;
    height: 220px;
    background-color: rgb(104, 31, 82);
}

#rectangle-7:hover{
    animation: fadeout 5s ease infinite alternate;
}

@keyframes color-animate {
    0%{background-color: rgb(0, 0, 255);}
    10%{background-color: rgb(95, 74, 189);}
    50%{background-color: rgb(20, 18, 141);}
    60%{background-color: rgb(182, 182, 224);}
    80%{background-color: rgb(71, 79, 124);}
    90%{background-color: rgb(53, 121, 199);}
    100%{background-color: rgb(27, 122, 160);}
}

@keyframes fadeout {
    0% {opacity: 1;}
    20% {opacity: 0.9;}
    40% {opacity: 0.5;}
    60% {opacity: 0.3;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes position {
    from {
        position: static;
        left: 80%;
    }
    to {
      position: static;
      left: 80%;
    }
}