body {
    background-color: rgb(255, 136, 0);
}
.container{
    padding: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
}
  
.image {
    display: flex;
}
  
.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #0e095c;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.steam {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -75px;
    margin-left: 75px;
    z-index: 0;
    opacity: 0;
  }
  
  #steam1 {
    -webkit-animation: steam1 4s ease-out infinite;
    animation: steam1 4s ease-out infinite;
  }
  
  #steam3 {
    -webkit-animation: steam1 4s ease-out 1s infinite;
    animation: steam1 4s ease-out 1s infinite;
  }
  
  @-webkit-keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam1 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
  }
  
  #steam2 {
    -webkit-animation: steam2 4s ease-out 0.5s infinite;
    animation: steam2 4s ease-out 0.5s infinite;
  }
  
  #steam4 {
    -webkit-animation: steam2 4s ease-out 1.5s infinite;
    animation: steam2 4s ease-out 1.5s infinite;
  }
  
  @-webkit-keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }
  
  @keyframes steam2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
    100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
  }

.text {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family : Avenir;
}

.text2 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family : Avenir;
    width: 25%;
}

.headtext{
    margin-top: 850px;
    color: blue;
    mix-blend-mode: overlay;
    font-size: 100px;
    text-align: left;
    font-family : Avenir;
}

.rectangle{
    width: 200px;
    height: 50px;
    background-color: rgb(60, 255, 0);
}

.blue-circle{
	width: 600px;
	height: 600px;
	background-color: blue;
    mix-blend-mode: overlay;
	border-radius: 100%;
}