
div{
    display: flex;
    justify-content: center;
}

img{
    transition: 1s ease-in-out;
}

img:hover{
  padding: 50px;
  transition: scale(1);
  width: 30%;
  height: auto;
  margin: 0 auto;
  opacity: 0.25;
}